*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blur{
    filter: blur(8px);
}
.mainContanier{
    box-shadow: 10px 5px 5px grey;
}

/* header style  */

header{
    display: flex;
    margin: 20px 10% 20px 10%;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

.tasklist span{
    color: rgb(0, 200, 255);
}


.addItems{
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}
.addItems i{
    color: rgb(0, 200, 255);
    font-weight: 700;
}


/* header 2 Style  */

#backbtn{
    cursor: pointer;
    font-size: 30px;
    align-items: center;
    font-weight: 700;
}
#backbtn i{
    color:rgb(0, 200, 255) ;
}


/* Section style  */

section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* color: white; */
    font-size: 30px;
}



/* New task Style  */

.newTask{
    /* min-width: 250px; */
    width: 250px;
    margin: 10px;
    /* min-height: 350px; */
    height: 350px;
    background-color: #ffff;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 0 5px grey;
}
/* Next page card in center */
.newTask2 {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    visibility: visible;
  }

.newTaskHeading{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: red;
    font-weight: 500;
    cursor: pointer;
}
.line{
    border: 1px solid black;
}
.newTaskDescription{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}
.newTaskBtn{
    text-align: center;
    background-color: rgb(0, 170, 255);
    color: #ffff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
    outline: none;
}
.newTaskbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 90%;
    transform: translatey(-50%);
    cursor: pointer;

}

.newTaskDelete{
    font-size: 20px;
    padding: 5px;
    background-color: red;
    border-radius: 50px;
    object-fit: cover;
    color: #ffff;
}

.newTaskplus{
    font-size: 30px;
    color: rgb(0, 170, 255);
}
/* input[type="text"]{
  padding-left: 10px;  
} */


/* PopUP style  */


@keyframes popTransition{
    from{
      /* transform: translate(0,0); */
      
      opacity: 1;
    }
    to{
    transform: translate(-50%,-10px);
  
    opacity: 0.5;
}
}
  
.popTransition{
    animation: popTransition 0.5s ease-in  1 reverse;
}

.popUp{
    border: 1px solid black;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%, -50%);
    border-radius: 10px;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popUpHead{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: red;
    font-weight: 800;
}
input[type="text"]{
    width: 350px;
    height: 40px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 5px 0 gray;
    outline: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: red;
    padding: 5px;
}
.popUpButtons{
    width: 250px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.addBtn, .closeBtn{
    font-size: 20px;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border: none;
}
.addBtn:hover, .closeBtn:hover{
    box-shadow: 0 0 5px #fda085;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 692px) {
    .taskList,
    .addItemsContainer,
    #addItemsContainer,
    .addItemPlus {
      font-size: 28px;
    }
    section {
      display: flex;
      justify-content: center;
    }
    .popUp{
        width: 90vw;
    }
    input[type="text"]{
        width: 70vw;
    }
  }


